.home {
    height: 90vh;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.home-head {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-head p {
    font-size: 28px;
    font-family: Inter-Regular;
}

.home-img {
    height: 90vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 600px;
    height: 600px;
}