.home {
    height: 90vh;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.home-title{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title p{
    font-size: 32px;
    line-height: 60px;
}

.home-img{
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin-right: 60px;
}

.home-img img{
    height: 100%;
    width: 100%;
}