.courses-data-form {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses-data-form-wrap {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.courses-col-form-wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
    flex-direction: row;
    align-items: center;
}

.id-div {
    width: 45%;
}

.sem-div {
    width: 45%;
}

.course-div {
    width: 45%;
}

.credit-div {
    width: 45%;
}

.courses-heading {
    font-family: Inter-Regular;
    font-size: 34px;
    letter-spacing: 1.8px;
    margin-bottom: 35px;
}

.declare-check {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.declare-box {
    margin-right: 10px;
}

.declare {
    opacity: 0.7;
    font-size: 14px;
}

.courses-btn-form-div {
    width: 95%;
    display: flex;
    margin-top: 30px;
    align-items: flex-end;
    justify-content: flex-end;
}