.navbar {
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px gray;
    background-color: white;
}

.name-logo {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-logo img {
    margin-top: 4px;
    height: 12vh;
    width: 12vw;
}

.nav-wrap {
    width: 45%;
    display: flex;
    margin-right: 40px;
    justify-content: space-around;
    align-items: flex-end;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

p {
    font-size: 15px;
    font-family: Inter-Light;
    color: black;
}

.auth-out {
    display: flex;
    width: 22%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.auth-in {
    display: flex;
    width: 25%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}